// Контакты (index.html)

.contacts {
  margin-bottom: 39px;
  padding-top: 42px;

  word-wrap: break-word;

  @media (min-width: $tablet) {
    padding-top: 61px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop) {
    max-width: 1150px;
    margin: 0 auto;
    padding-bottom: 105px;
  }
}

.contacts__wrapper {
  @media (min-width: $tablet) {
    // width: 768px;
  }

  @media (min-width: $desktop) {
    position: relative;
    display: flex;
    width: 1050px;
    margin: 0 auto;
    padding-top: 34px;
  }
}

.contacts__title-wrapper {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    width: 678px;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop) {
    width: 425px;
    padding-top: 50px;
    margin-bottom: 0;
  }
}

.contacts__title {
  // width: 260px;
  // margin: 0 auto;
  margin: 0;
  margin-bottom: 23px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: $tablet) {
    position: relative;
    padding: 20px 85px 24px 0;

    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      top: 4px;
      right: 9px;
      width: 47px;
      height: 81px;

      background-image: url("../../img/svg/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $desktop) {
    padding: 20px 0 24px 118px;

    font-size: 53px;
    line-height: 57px;

    &::after {
      top: 11px;
      left: 13px;
    }
  }
}

.contacts__table {
  // color: yellow;
}

.contacts__map-yandex {
  width: auto;
  height: 457px;

  margin: 0 auto;
  margin-bottom: 38px;

  background-image: url("../../img/icon-map-pin.svg"), url("../../img/map-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: 52% 42%, center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/icon-map-pin.svg"), url("../../img/map-mobile@2x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 51% 43%, center;
  }

  @media (min-width: $tablet) {
    margin-bottom: 55px;

    background-image: url("../../img/icon-map-pin.svg"), url("../../img/map-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
    background-position: 52% 42%, center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/icon-map-pin.svg"), url("../../img/map-tablet@2x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-position: 51% 43%, center;
    }
  }

  @media (min-width: $desktop) {
    width: 527px;
    margin: 0;

    background-image: url("../../img/icon-map-pin.svg"), url("../../img/map-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 525px 457px;
    background-position: 51% 43%, center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/icon-map-pin.svg"), url("../../img/map-desktop@2x.jpg");
      background-repeat: no-repeat, no-repeat;
      background-position: 51% 43%, center;
    }
  }
}

// .contacts__map-yandex--nojs {
//   display: none;
// }

.contacts__button {
  margin: 0 auto;
  margin-bottom: 5px;

  @media (min-width: $tablet) {
    width: 230px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    bottom: 0;
    left: 174px;
    margin: 0;
  }
}
