// Контакты (index.html)

.contacts {
  margin-bottom: 39px;
  padding-top: 40px;

  background-image: url("../../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: top;
  background-size: auto 6px;

  word-wrap: break-word;

  @media (min-width: $tablet) {
    padding-top: 61px;
    margin-bottom: 57px;
    // padding-top: 63px;
    background-size: auto 17px;
  }

  @media (min-width: $desktop) {
    background-size: auto 23px;
    padding-bottom: 80px;
    margin: 0;
    min-height: 657px;
  }
}

.contacts__wrapper {
  @media (min-width: $desktop) {
    position: relative;
    display: flex;
    width: 1050px;
    margin: 0 auto;
    padding-top: 34px;
  }
}

.contacts__title-wrapper {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 9px;

  @media (min-width: $tablet) {
    width: 678px;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop) {
    width: 415px;
    padding-top: 50px;
    margin-bottom: 0;
  }
}

.contacts__title {
  // width: 260px;
  // margin: 0 auto;
  margin: 0;
  margin-bottom: 23px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: $tablet) {
    position: relative;
    padding: 20px 85px 24px 0;

    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      top: 4px;
      right: 8px;
      width: 47px;
      height: 81px;

      background-image: url("../../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $desktop) {
    padding: 20px 0 24px 114px;

    font-size: 53px;
    line-height: 57px;

    &::after {
      top: 11px;
      left: 7px;
    }
  }
}

.contacts__table {
  // color: yellow;
}

.contacts__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 39px;

  @media (min-width: $tablet) {
    width: 768px;
    height: 457px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop) {
    // position: absolute;
    // top: 95px;
    // right: 43px;

    width: 527px;
    height: 457px;
    margin: 0;
  }
}

.contacts__button {
  margin: 0 auto;
  margin-bottom: 5px;

  @media (min-width: $tablet) {
    width: 230px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    bottom: 0;
    left: 174px;
    margin: 0;
  }
}
