// Контакты (index.html)

.contacts {
  padding-top: 41px;
  margin-bottom: 39px
}

.contacts__title {
  margin: 0;
  margin-bottom: 26px;
  padding-left: 28px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.contacts__table {
  margin: 0 auto;
  margin-bottom: 9px;
}

.contacts__img {
  display: block;
  margin-bottom: 41px;
}

.contacts__button {
  margin: 0 auto;
}
