// Основная навигация

.header-nav {
  position: relative;

  width: 320px;
  margin: 0 auto;

  word-wrap: break-word;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;

    width: 768px;
  }

  @media (min-width: $desktop) {
    width: 1150px;
  }

}


.header-nav__toggle {
  position: absolute;
  top: 25px;
  right: 40px;

  width: 20px;
  height: 14px;
  padding: 0;

  background-color: transparent;
  border: none;
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;

  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: $black;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.header-nav__logo {
  display: block;
  width: 86px;
  // min-height: 80px;
  margin: 0 auto;
  padding: 22px 0;

  @media (min-width: $tablet) {
    order: 1;

    min-width: 113px;
    flex-grow: 1;

    margin: 0;
    padding: 21px 0;
    padding-left: 48px;

    border-bottom: 1px solid $grey;
  }
}

.logo__image {
  display: block;

  width: 86px;
  height: 35px;

  @media (min-width: $tablet) {
    width: 113px;
    height: 46px;
  }

}

.header-nav__list {
  @include list-reset;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: $tablet) {
    order: 2;

    display: flex;
    flex-wrap: wrap;

  }
}

.header-nav__item {
  // width: 260px;
  // box-shadow: 0 1px 0 $grey;
  border-bottom: 1px solid $grey;


  @media (min-width: $tablet) {
    border-left: 1px solid $grey;
  }
}

.header-nav__link {
  position: relative;
  display: block;

  padding: 27px 5px 27px 76px;
  // padding-left: 75px;
  // min-height: 79px;

  @media (min-width: $tablet) {
    padding: 31px 5px 33px 76px;


    &--search {
      width: 83px;

      font-size: 0;
    }

    &--basket {
      min-width: 315px;
      padding: 31px 5px 33px 84px;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header-nav__icon {
  position: absolute;
  top: 31px;
  left: 31px;

  @media (min-width: $tablet) {
    top: 35px;
    left: 33px;
  }
}

.header-nav__list--move {

  @media (min-width: $tablet) {
    order: 3;

    margin-left: 49px;
    font-size: 15px;
  }
}

.header-nav__item--move {

  &:first-child {
    border-top: 1px solid $grey;
  }

  @media (min-width: $tablet) {
    border: none;

    &:first-child {
      border-top: none;
    }
  }
}

.header-nav__link--move {
  @media (min-width: $tablet) {
    padding: 17px 37px 17px 0;
  }
}


.header-nav__list-module {
  display: none;

  @media (min-width: $desktop) {
    @include list-reset;
    display: block;
  }
}

.header-nav__item-module {

  @media (min-width: $desktop) {}
}

.header-nav__link-module {

  @media (min-width: $desktop) {}
}

.header-nav__banners {
  display: none;

  @media (min-width: $tablet) {
    order: 4;
    display: block;
    width: 280px;
    padding: 17px 0;
    margin-left: auto;
    color: $grey-dark;
  }
}
