// Процесс производства (catalog.html)

.make-products {
  padding: 0 30px;
  margin-bottom: 58px;
  word-wrap: break-word;

  @media (min-width: $tablet) {
    padding: 0;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 106px;
  }
}

.make-products-wrapper {
  border: 1px solid $grey;
  padding: 24px 0 28px 0;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;

    padding: 0 0 41px 0;
  }

  @media (min-width: $desktop) {
    position: relative;
    padding: 0 0 54px 679px;
  }
}

.make-products__title {
  position: relative;
  padding: 0 23px 0 90px;
  margin: 0;
  margin-bottom: 22px;

  font-size: 17px;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    left: 34px;
    top: 5px;
    width: 32px;
    height: 32px;

    background-image: url("../img/svg/icon-video.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet) {
    order: 2;

    padding: 10px 23px 0 105px;
    margin-bottom: 30px;

    font-size: 20px;

    &::before {
      left: 41px;
    }
  }

  @media (min-width: $desktop) {
    padding: 98px 50px 0 80px;

    &::before {
      top: 44px;
      left: 81px;
    }
  }
}

.make-products__video {
  position: relative;
  margin-bottom: 29px;

  @media (min-width: $tablet) {
    order: 1;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
  }
}

.make-products__video-image {
  display: block;

  @media (min-width: $tablet) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop) {
    width: 682px;
    height: 455px;
  }
}

.make-products__video-button {
  position: absolute;
  width: 105px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;

  background-image: url("../img/svg/icon-play.svg");

  background-size: 105px 80px;
  background-repeat: no-repeat;

  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.make-products__text-wrapper {
  padding: 0 33px;

  @media (min-width: $tablet) {
    order: 3;

    padding: 0 41px;
  }

  @media (min-width: $desktop) {
    padding: 0 58px 0 81px;
  }
}

.make-products__text {
  margin: 0;
  margin-bottom: 25px;

  font-size: 13px;
  font-weight: 400;
  color: $grey-dark;

  @media (min-width: $tablet) {
    margin-bottom: 35px;

    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 47px;
  }
}

.make-products__button-order {
  width: auto;
  margin-bottom: 4px;
}
