//Форма (form.html)

.form-wrapper {
  padding: 0 30px;
}
// Временная обертка

.order {
  // color: yellow;
}

.order__desc {
  margin-bottom: 27px;

  font-size: 13px;
  line-height: 24px;
  color: $grey-dark;
}

.order__form {
  // color: yellow;
}
