//Форма (form.html)

.order-form {
  word-break: break-word;
}

.order-form__group {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  border: none;

  @media (min-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 26px;
    margin-bottom: 0;

    &:nth-child(2n) {
      background-color: $grey;
    }
  }
}

.order-form__group-wrapper {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 668px;

    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop) {
    width: 925px;
  }
}

.order-form__group-wrapper--contact {
  @media (min-width: $tablet) {
    flex-direction: column;
  }
}

.order-form__title {
  display: block;
  margin-bottom: 25px;

  line-height: 16px;

  background-image: linear-gradient($green 1px, transparent 1px);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 100% 5px;

  @media (min-width: $tablet) {
    width: 25%;
    margin-bottom: 0;

    padding-top: 17px;
    background-image: none;
  }

  @media (min-width: $desktop) {
    width: 12%;
  }
}

.order-form__title--contact {
  margin-bottom: 18px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.order-form__title-text {
  display: inline-flex;
  min-width: 62px;

  padding-right: 19px;
  background-color: white;

  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: $green;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    background-color: transparent;
  }
}

.order-form__list {
  @include list-reset;

  @media (min-width: $tablet) {
    width: 75%;
  }

  @media (min-width: $desktop) {
    width: 76%;
  }
}

.order-form__list--color {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    width: 85%;
  }
}

.order-form__item {
  margin-bottom: 16px;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }
}

.order-form__item--color {
  @media (min-width: $tablet) {
    width: 48%;
  }

  @media (min-width: $desktop) {
    width: 33%;
  }
}

.order-form__item--name {
  @media (min-width: $tablet) {
    display: flex;
  }
}

.order-form__label {
  display: block;

  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  user-select: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    font-size: 19px;
  }
}

.order-form__label--radio {
  position: relative;
  min-height: 40px;
  padding-top: 9px;
  padding-left: 63px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: $grey-dark;
  }

  @media (min-width: $tablet) {
    min-height: 52px;
    padding-top: 15px;
    padding-left: 80px;

    &::before {
      width: 52px;
      height: 52px;
    }
  }

  &:hover::before {
    border-color: $green;
  }

  &:active::before {
    border-color: $grey;
  }
}

.order-form__input:checked + .order-form__label--radio::before {
  width: 40px;
  height: 40px;
  background-color: $green;
  box-shadow: inset 0 0 0 10px $white;

  @media (min-width: $tablet) {
    width: 52px;
    height: 52px;

    box-shadow: inset 0 0 0 14px $white;
  }
}

.order-form__label--checkbox {
  position: relative;
  min-height: 39px;
  padding-top: 10px;
  padding-left: 62px;
  margin-bottom: 22px;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: $grey-dark;
  }

  &:hover::before {
    border-color: $green;
  }

  &:active::before {
    border-color: rgba($grey-dark, 0.3%);
  }

  @media (min-width: $tablet) {
    min-height: 52px;
    padding-top: 15px;
    padding-left: 81px;
    margin-bottom: 0;

    &::before {
      width: 55px;
      height: 52px;
    }
  }
}

.order-form__input:checked + .order-form__label--checkbox::before {
  background-image: url("../../img/svg/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px;

  @media (min-width: $tablet) {
    background-size: 33px 22px;
  }
}


.order-form__label--text {
  padding-top: 3px;

  @media (min-width: $tablet) {
    padding-top: 15px;
    padding-right: 26px;
  }
}

.order-form__input-icon {
  position: relative;

  @media (min-width: $tablet) {
    width: 76%;
  }
}

.order-form__input {
  width: 260px;
  margin-bottom: 3px;
  padding: 11px 15px 12px 0;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid $black;

  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  min-height: 52px;

  @media (min-width: $tablet) {
    flex-grow: 1;
    margin-bottom: 0;
    padding: 11px 18px 13px;

    font-size: 19px;
    line-height: 26px;
  }

  &::placeholder {
    color: rgba($grey-dark, 0.3%);
  }
}

.order-form__input:hover,
.order-form__input:focus,
.order-form__textarea:hover,
.order-form__textarea:focus {
  border-color: $green;
}

.order-form__input:hover ~ .order-form__icon,
.order-form__input:focus ~ .order-form__icon {
  fill: $green;
}

.order-form__wrapper-contact {
  @media (min-width: $tablet) {
    display: flex;
    min-height: 76px;
  }
}

.order-form__input--contact-tel {
  font-size: 19px;
  padding: 0 40px 13px 0;
  margin-bottom: 32px;
  min-height: 40px;

  @media (min-width: $tablet) {
    width: 100%;
    padding: 11px 60px 13px 17px;
    margin-bottom: 25px;
  }
}

.order-form__input--contact-email {
  font-size: 17px;
  padding: 0 40px 14px 0;
  margin-bottom: 22px;
  min-height: 38px;

  @media (min-width: $tablet) {
    width: 100%;
    padding: 9px 60px 14px 17px;
    margin-bottom: 24px;

    font-size: 19px;
  }
}

.order-form__icon {
  position: absolute;
  top: 0;
  right: 6px;

  fill: rgba($black, 0.2%);


  @media (min-width: $tablet) {
    top: 10px;
    right: 24px;
  }

  @media (min-width: $desktop) {
    right: 6px;
  }
}


.order-form__textarea {
  width: 260px;
  min-height: 142px;
  margin-top: 5px;
  padding: 14px;

  border: 2px solid $grey-dark;

  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  resize: none;

  @media (min-width: $tablet) {
    width: 75%;
    margin-top: 0;

    font-size: 19px;
  }

  @media (min-width: $tablet) {
    width: 76%;
  }

  &::placeholder {
    color: rgba($grey-dark, 0.3%);
  }
}

.order-form__tooltip-wrapper {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 26px;
  }

  @media (min-width: $desktop) {
    width: 700px;
    margin-top: 22px;
  }
}

.order-form__tooltip {
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet) {
    order: 2;
    margin-bottom: 0;

    font-size: 17px;
    line-height: 30px;
  }
}

.order-form__submit {
  @media (min-width: $tablet) {
    order: 1;
    width: 230px;
  }
}
