//Форма (form.html)

.order {
  padding: 0 30px;
  padding-top: 22px;
}

.order__desc {
  margin-bottom: 27px;

  font-size: 13px;
  line-height: 24px;
  color: $grey-dark;
}

.order__form {
  // color: yellow;
}
