//Шапка сайта

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__logo {
  width: 86px;
  // min-height: 80px;
  // тут у меня возникла трудность касаемо того о не правильности использования min-height, и width. Возможно следует воспользоваться flex-basis (для дальнейшего перестроения)
  margin: 0 auto;
  padding: 22px 0;
}

.logo__image {
  display: block;
}

.page-header__title-wrapper {
  width: 320px;
  min-height: 177px;
  padding: 71px 20px 10px 20px;
  margin-bottom: 20px;

  background-color: $grey;
  text-align: center;
}

.page-header__title-wrapper--img {
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 279px;
  margin: 0;
}

.page-header__title {
  margin: 0;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
}
