//Шапка сайта

.page-header {
  word-wrap: break-word;

  @media (min-width: $tablet) {
    background-color: #f9f9f9;
    background-image: linear-gradient($white 88px, #e7e7e7 88px, #e7e7e7 89px, #f9f9f9 89px, #f9f9f9 100px);
    background-repeat: no-repeat;
    background-size: 100% 245px;
  }
}

.page-header__title-wrapper {
  padding-top: 70px;
  padding-bottom: 76px;

  background-color: #f9f9f9;

  @media (min-width: $tablet) {
    position: relative;

    padding-top: 36px;
    padding-bottom: 93px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 22px;
      background-image: url("../img/svg/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 22.8px;
      background-position: top center;
      z-index: 10;
    }
  }

  @media (min-width: $desktop) {
    padding-bottom: 112px;

    &::before {
      height: 26.8px;
      background-size: auto 33.7px;
    }
  }
}

.page-header__title-wrapper--index {
  min-height: 488px;
  padding-bottom: 0;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -18px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 573px 373px;
  }

  @media (min-width: $tablet) {
    position: relative;
    display: flex;
    flex-direction: column;

    height: 698px;
    padding-top: 95px;

    &::before {
      height: 23.5px;
      background-size: auto 22.7px;
      bottom: -1px;
    }

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center -59px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px 746px;
    }
  }

  @media (min-width: $desktop) {
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }

    &::before {
      height: 28.2px;
      background-size: auto 37px;
      bottom: -0.6px;
    }
  }
}

.page-header__title {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;

  text-align: center;

  @media (min-width: $tablet) {
    width: 500px;
    padding: 0;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    width: 700px;

    font-size: 53px;
    line-height: 57px;
  }
}

.page-header__categories-nav {
  margin: 0 auto;
  margin-top: 122px;

  @media (min-width: $tablet) {
    margin-top: auto;
    padding-bottom: 1px;
  }
}
