// Подвал

.page-footer {
  background-color: $grey;
  word-wrap: break-word;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    // min-height: 143px;
    padding: 50px 0;
    flex-direction: row;
  }
}

.page-footer__icon-link {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    margin-right: 160px;
  }

  @media (min-width: $desktop) {
    margin-right: 349px;
  }
}

.page-footer__icon {
  fill: $black;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: rgba(#46c1ae, 0.3%);
  }
}

.page-footer__social-list {
  // color: yellow;

  @media (min-width: $tablet) {
    margin-left: auto;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 184px;
  padding-top: 21px;
  padding-bottom: 24px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    margin-left: auto;
    padding: 0;
  }
}

.page-footer__copyright-text {
  margin-right: auto;

  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
}

.page-footer__copyright-icon {
  fill: #63d1bb;

  &:hover {
    fill: #46c1ae;
  }
}
