// Продукты (catalog.html)

.products {
  padding: 0 30px;
  padding-top: 30px;
  // margin-bottom: 29px;

  word-wrap: break-word;

  @media (min-width: $tablet) {
    padding: 0;
    padding-top: 67px;
  }

  @media (min-width: $desktop) {
    padding-top: 118px;
  }
}

.products__list {
  @include list-reset;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.products__item {
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop) {
    margin-right: 49px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
