// Продукт (catalog.html)

.product {
  border: 1px solid $grey;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
  }
}

.product__link-image {
  display: block;
  background-color: $grey;

  @media (min-width: $tablet) {
    // width: 50%;
    width: 334px;
  }

  @media (min-width: $desktop) {
    width: 315px;
  }
}

.product__image {
  display: block;

  @media (min-width: $tablet) {
    height: 334px;
  }

  @media (min-width: $desktop) {
    height: 462px;
  }
}

.product__content {
  display: flex;
  flex-direction: column;
  padding: 27px;

  @media (min-width: $tablet) {
    width: 334px;
    // width: 50%;
    padding: 25px 27px;
  }

  @media (min-width: $desktop) {
    width: 315px;
    // height: 100%;
    flex-grow: 1;
  }
}

.product__link-title {
  display: block;

  &:hover {
    color: rgba($black, 0.6%);
  }

  &:active,
  &:focus {
    color: rgba($black, 0.3%);
  }
}

.product__title {
  margin: 0;
  margin-bottom: 5px;

  font-size: 17px;
  font-weight: 700;

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

.product__desc {
  // position: relative;
  margin-bottom: 20px;

  font-size: 13px;
  font-weight: 400;
  line-height: 30px;

  color: $grey-dark;

  @media (min-width: $tablet) {
    font-size: 15px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 15px;
  }
}

.product__footer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

  border-top: 1px solid $grey;

  @media (min-width: $tablet) {
    padding-top: 24px;
    margin-top: auto;
  }
}

.product__price {
  font-weight: 700;

  @media (min-width: $tablet) {
    padding-left: 4px;
    font-size: 17px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    padding-left: 0;
  }
}

.product__price-button {
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  // Нужно сделать активное состояние для svg внутри кнопки
}
