// Продукты (catalog.html)

.products {
  padding: 0 30px;
  padding-top: 30px;
}

.products__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.products__item {
  // color: yellow;
}
