// Отзывы (index.html)

.reviews {
  margin: 0 auto;

  @media (min-width: $tablet) {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 457px;
    }
  }

  @media (min-width: $desktop) {
    max-width: 1050px;
    background-position: 0 0;
  }
}

.reviews__section {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 44px;

  word-wrap: break-word;

  @media (min-width: $tablet) {
    position: relative;
    width: 750px;
    padding: 79px 40px 50px 39px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop) {
    width: 1050px;
    padding: 72px 0 65px 173px;
    margin-bottom: 66px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 23px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: $tablet) {
    width: 490px;
    margin-bottom: 48px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    width: 650px;
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  @include list-reset;
  margin-bottom: 26px;
}

.reviews__blockquote {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 28px;

  line-height: 30px;

  @media (min-width: $tablet) {
    margin-bottom: 57px;
    font-size: 17px;
  }

  @media (min-width: $desktop) {
    width: 779px;
    margin-bottom: 39px;
  }
}

.reviews__author {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    width: 493px;
  }

  @media (min-width: $desktop) {
    width: 640px;
  }
}

.reviews__author-name {
  margin-bottom: 3px;

  font-size: 17px;
  font-weight: 700;
  font-style: normal;

  @media (min-width: $tablet) {
    font-size: 18px;
    letter-spacing: 0.2px;
  }


  @media (min-width: $desktop) {
    letter-spacing: -0.5px;
  }
}

.reviews__author-nickname {
  margin-bottom: 3px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: $tablet) {
    font-size: 17px;
    letter-spacing: 0;
  }
}

.reviews__buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    position: absolute;
    bottom: 81px;
    right: 45px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    bottom: 98px;
    right: 4px;
  }
}

.reviews__button {
  width: 130px;
  min-height: 52px;
  padding: 0;
  margin-bottom: 20px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $grey;

  cursor: pointer;

  @media (min-width: $tablet) {
    width: 85px;
    margin-bottom: 0;
    border: none;
  }

  &--prev {
    background-image: url("../img/svg/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/svg/icon-right-arrow.svg");
  }

  &--prev:hover,
  &--next:hover {
    opacity: 0.6;
  }

  &--prev:active,
  &--next:active {
    opacity: 0.3;
  }
}

.reviews__button:nth-child(2n) {
  border-left: none;
}

.reviews__button-write {
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    position: absolute;
    width: 175px;
    top: 80px;
    right: 42px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    right: 1px;
    top: 79px;
  }
}
