// Форма размеров в popup

.size-form {
  // color: yellow;
}

.size-form__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 21px;
  // justify-content: space-evenly;
  // justify-content: space-between;
  // justify-content: center;

  @media (min-width: $tablet) {
    width: 356px;
  }
}

.size-form__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    // margin-right: 5px;
    margin: auto;
    margin-bottom: 10px;
  }
}

.size-form__input {
  // color: yellow;
}

.size-form__label {
  // display: flex;
  // justify-content: center;
  // align-items: center;

  width: 82px;
  padding: 16px 10px;
  min-height: 52px;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: $grey-dark;

  text-transform: uppercase;

  border: 2px solid rgba($grey-dark, 0.1%);
  cursor: pointer;

  &:hover {
    border-color: rgba($grey-dark, 0.3%);
  }

  @media (min-width: $tablet) {
    // flex-grow: 1;
    width: 111px;
  }
}

.size-form__input:checked + .size-form__label {
  border-color: $green-dark;
}

.popup__button {
  margin: 0 auto;
  margin-bottom: 10px;
}
