// Социальные сети

.social {

}

.social__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.social__item {
  padding: 25px 23px 14px 18px;
}

.social__link {

}
