//Основной цвет текста
$black: #000000;
//Основной фон
$white: #ffffff;
// Цвет фона у заголовков
$grey: #f1f1f1;
// Цвет текста описание
$grey-dark: #444444;
// Цвет ссылок в навигации по сайту и заголовок в форме
$green: #63d1bb;
//Цвет ссылок в в навигации//
$green-dark: #56c3b2;
